# Ignore all files in the .vscode folder
.vscode/

# Explicitly allow specific files you want to keep in version control
!.vscode/extensions.json
!.vscode/launch.json

# Ignore all files in the .idea folder
.idea/

# Ignore all files about the J-Link software
J-Flash/

# Ignore all compiled files
output/

# Ignore all files in the images folder
scripts/images
